body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --color: #4d5ae5;
  --color1: #fff;
  --color2: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* хедер портфоліо і індекса*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.bloc-header {
  display: flex;
  height: 72px;
}
.nav-header {
  display: flex;
  align-items: center;
}
.web {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.studio {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navigation-header {
  display: flex;
  gap: 40px;
}

.item-header {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  position: relative;
  color: #404bbf;
}

.line::after {
  display: block;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.item-header:hover,
.item-header:focus {
  color: #404bbf;
}

.item-address-header {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-header {
  margin-left: auto;
  font-style: normal;
}

.address-header .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-header {
  display: flex;
  gap: 40px;
}
/* меню */

/* 1 сексія */

.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-section-one {
  margin-left: 350px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-section-one {
  margin-top: 24px;
  margin-left: 500px;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-section-one:hover,
.button-section-one:focus {
  background-color: #404bbf;
}

/* 2 секція */

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-two {
  padding: 120px 0;
}

.list-section-two {
  display: flex;
  gap: 24px;
}

.element-section-two {
  width: calc((100% - 72px) / 4);
}

.title-section-two {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* 3 цекія */

.sectiont-three {
  padding-bottom: 120px;
}

.title-sectiont-three {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-sectiont-three {
  display: flex;
  gap: 24px;
}

.list-item-sectiont-three {
  width: calc((100% - 48px) / 3);
}
/* 4 секція */

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-sectiont-four {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-section-four {
  padding-top: 8px;
  display: flex;
  gap: 24px;
}

.list-item-sectiont-four {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.paragraph-sectiont-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.bloc-section-four {
  padding: 32px 0;
}

.title-section-four {
  text-align: center;
  margin-bottom: 8px;
}

.list-section-four {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.listsection {
  width: 40px;
  height: 40px;
}

.link-section-four {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-section-four:hover,
.link-section-four:focus {
  background-color: #404bbf;
}

.svg-section-four {
  fill: #f4f4fd;
}

/* 5 Секція */

.section-five {
  padding-top: 120px;
  padding-bottom: 120px;
}

.h2-section-five {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}

.list-section-five {
  display: flex;
  gap: 24px;
}

.item-list-section-five {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.link-section-five {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-section-five:hover,
.link-section-five:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.svg-section-five {
  fill: currentColor;
}

/* футер портфоліо і індекса */

.block-footer {
  display: flex;
  align-items: baseline;
}

.block-footer-two {
  margin-right: 120px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.web-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.studio-footer {
  color: #f4f4fd;
}

.text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.block-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.list-footer {
  display: flex;
  gap: 16px;
}

.item-list-footer {
  width: 40px;
  height: 40px;
}

.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}

.svg-footer {
  fill: #f4f4fd;
}

.div-form {
  margin-left: 80px;
}

.svg-label {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form {
  display: flex;
  gap: 24px;
}

.input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.svg-button {
  background-color: #4d5ae5;
  border-radius: 4px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 40px;
  border: none;
  color: #ffffff;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

input::placeholder {
  color: #ffffff;
}

.svg-span {
  margin-left: 16px;
  fill: #fff;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.button-modall {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modall:hover {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.button-modall:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
  outline: none;
}

.svg-model {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.h2-modal {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.p-modal {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.label-for-button {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  align-items: flex-start;
  margin-bottom: 4px;
}

.div-input-modal {
  position: relative;
  margin-bottom: 8px;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.svg-input-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .svg-input-modal {
  border: none;
  fill: #4d5ae5;
}

.comment {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4d5ae5;
}

.div-comment {
  margin-bottom: 24px;
}

.label-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-comment {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-madal-cheked:checked + .label-comment span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.a-comment {
  color: #4d5ae5;
}

.button-comment {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Портфоліо */

/* Меню */

.section {
  padding: 96px 0 120px 0;
}

.list-section {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.type-of-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.type-of-button:hover,
.type-of-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.foto {
  width: calc((100% - 48px) / 3);
}

.link-a {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
  transform: translateY(0%);
}

.link-a:hover,
.link-a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-a:hover .list-p,
.link-a:focus .list-p {
  transform: translateY(0%);
  transform: translateY(0%);
}

.div-img {
  position: relative;
  overflow: hidden;
}

.list-p {
  color: #f4f4fd;
  font-family: Roboto;
  top: 0;
  position: absolute;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-section {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.inform {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.para {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.global-div-comment {
  margin-bottom: 24px;
}
